@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #2c2c2c;
  --color-brand-light: #f0f0e6;
  --color-brand-green: #16c79e;
  --color-brand-gold: #ccaa33;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-dark);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
